
@tailwind base;
@tailwind components;
@tailwind utilities;
/* DUMMY COLOURS  */
/*
body{
    background-color: yellow;
}
.R {
    background-color: red;
}
.G {
    background-color: green;
}
.S{
    background-color: darkgrey;
}
*/
.lineUp {
    animation: 2s anim-lineUp ease-out ;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
#Scroll_Box{
    width: 100vw;
    height: calc(100vh - 4rem);
    scroll-behavior: smooth;
}
@media (min-width: 768px) {
    #Scroll_Box{
        width: calc(100vw - 4rem);
        height: 100vh;
        scroll-behavior: smooth;
    }
}
.Navtext_Desktop {
    visibility: hidden;
}
#Desktop_Navbar:hover .Navtext_Desktop{
    visibility:visible ;
}
#Desktop_Navbar{
    visibility: hidden;
}

@media (min-width: 768px) {
    #Desktop_Navbar{
        visibility: visible;
    }
}
/* Hamburger Button Positioning  */
.ham {
    scale: 1;
    left: calc(100% - 45px);
    top: .75rem;
    transition: top .5s ease-in, left .5s ease-in, scale .5s ease-in, ;
    /* transition: left .5s ease-out; */
}
.ham.active{
    scale: 2.5;
    left: calc(50% - 22px);
    top: calc(100% - 90px);
    transition: top .5s ease-out, left .5s ease-out, scale .5s ease-out,;
    /* transition: left .5s ease-out; */

}
#Hamburger_Menu {
    opacity: 0;
    visibility: hidden;
}
#Hamburger_Menu.active {
    visibility: visible;
    opacity : 100;
    transition: opacity 0s;
    transition-delay: 0.5s;
}
.dummy_expansion{
    height: 0;
    transition: height .5s ease-out;
}
.dummy_expansion.active {
    height: 200px;
    transition: height .5s ease-in;
}
.hamburger-menu {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}
.ham-bar {
    width: 70%;
    height: 4px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top 1.1s;
}
.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}
.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}
.hamburger-menu.active .bar-mid {
    opacity: 0;
}
.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

