@import url('https://fonts.googleapis.com/css2?family=Borel&family=Caprasimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/assets/bg_gradient.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* height: 2000px; */
}

.container {
    position: relative;
  }
  
  .box {
    position: absolute;
    top: 0;
    left: 0;
  }
  