@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz@10..48&family=Caprasimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-500: rgb(74 222 128);
    --bg-color: #1e1e21;
    --secondary-color: #00ff00;
  }

body {
    /* background-image: url('/assets/bg_gradient.jpg'); */
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* height: 2000px; */
}

.profile-image {
    background: linear-gradient(to Right, var(--bg-color), white);
    
}


